.wrapper-team{
  text-align: center;
  padding-top: 80px;
}

.wrapper-team h2{
  font-size: 68px;
  font-weight: 700 !important;
  margin-bottom: 24px;
}
.wrapper-team p{
  font-size:22px;
  font-weight: 400;
  color: #6CB0B5;
  max-width: 952px;
  margin:0 auto;
}
.wrapper-cards-team{
  padding-top: 64px;

}
.wrapper-card{
  padding: 32px;
  text-align: center;
  background-color: #031A27;
  border: 1px solid #031A27;
  transition: 0.3s all ease-in-out;
  margin-bottom: 32px;
}
.wrapper-card:hover{
  border:1px solid  #6CB0B5;
}
.wrapper-card img.person-avatar{
  margin-bottom: 24px;
}
.wrapper-card p{
  color: white;
  font-size: 22px;
}
.wrapper-card p.name-person{
  font-weight: 600;
}
.wrapper-card p.function-person{
  font-weight: 400;
}
.wrapper-card a{
  display: inline-block;
  margin-right: 16px;
  transition: 0.3s all ease-in-out;
}
.wrapper-card a:hover{
  transform: scale(1.1);
}
.social-icons-person{
  padding-top: 24px;
}