.menu-bg{
  background-size: cover;
  background-position: top center;
  padding: 16px 0;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}



body .navbar-expand-sm .navbar-nav .nav-link{
  color: #fff;
  padding: 0 9px;
  font-size: 22px;
  font-weight: 400;
  transition: 0.3s all ease-in-out;
}
body .navbar-expand-sm .navbar-nav .nav-link:hover{
  color: #973DDD;
}
body .navbar-expand-sm .navbar-nav .nav-item{
  position: relative;
}
body .navbar-expand-sm .navbar-nav .nav-item:after{
  content:'';
  position: absolute;
  height: 18px;
  width: 1px;
  right:0;
  top:55%;
  transform: translate(0, -50%);
  background-color: #03045E;
}
body .navbar-expand-sm .navbar-nav .nav-item:last-child:after{
  content: none;
}
#navbarSupportedContent ul{
  margin-left: auto;
}
body .navbar-expand-sm .navbar-nav li{
  position:relative
}
body .navbar-expand-sm .navbar-nav li:after{
  content: "";
  position: absolute;
  width: 1px;
  height: 18px;
  right: 0;
  bottom: 7px;
  background: white;
}
body .navbar-expand-sm .navbar-nav li:last-child:after{
  content: none;
}
.menu-bg{
  background-size:cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

@media screen and (max-width: 992px){
  body .navbar-expand-sm .navbar-nav .nav-link{
    font-size: 16px;
  }
  body .navbar-expand-sm .navbar-nav li:after{
    height: 14px;
    bottom: 4px;
  }
  .navbar-brand img{
    width: 250px;
  }
}

@media screen and (max-width: 768px){
  .navbar-expand-sm .navbar-collapse{
    display: none !important;
  }
}
@media screen and (max-width: 576px){
  .navbar-brand img {
    width: 150px;
  }
}